<div class="nav" id="nav">
    <div class="nav__aside">
        <div class="nav__content nav__main">
            <header class="nav__header">
                <import src="search" class=" nav__search"></import>
            </header>
            <div class="nav__menu">
                <import src="menu"></import>
            </div>
        </div>
        <div class="nav__content nav__submenu">
            <header class="nav__header">
                <div class="nav__back">
                    <div class="nav__back-arrow i-arrow"></div>
                    Каталог
                </div>
            </header>
            <div class="nav__menu">
                <import src="menu--submenu"></import>
            </div>
        </div>
        <a href="#" class="nav__section nav__link nav__link--contrast">Контакты</a>
        <a href="#" class="nav__section nav__link nav__link--contrast nav__city">
            <span class="nav__link-text">
                Ваш город
                <div class="nav__city-selected">Санкт-Петербург</div>
            </span>
            <span class="i-arrow nav__arrow"></span>
        </a>
        <a href="#" class="nav__section nav__link nav__link--contrast">Помощь</a>
        <a href="#" class="nav__section nav__link nav__link--contrast">Личный кабинет</a>
    </div>
    <a href="#" class="nav__close"></a>
</div>