.nav{

	position: fixed 0;
	z-index: 1000;
	transform: translateX(-100%);

	transition: ;

	// mods
	&._active{
		transform: translate(-$nav__width);
	}
	&._submenu &__{
		&submenu{
			left: 0;
		}
	}

	// elements
	&__{
		&aside{
			position: relative;
			z-index: 20;
			width: $nav__width;
			height: 100%;
			overflow: auto;
			background: $color__dark;
			color: white;

			overflow: hidden;
		}
		&content{
			background: white;
			color: $color__font_primary;

			transition: ;

			overflow: hidden;
		}
		&submenu{
			position: absolute 0 * * 100%;
			width: 100%;
		}
		&header{
			box-sizing: border-box;
			min-height: 115px;
			border-bottom: 1px solid $color__gray_light;

			display: flex;
			align-items: stretch;
			justify-content: space-between;
		}
		&link{
			min-height: 92px;
			padding: 0 1.5rem;
			border-bottom: 1px solid $color__gray_light;

			text-decoration: none;

			color: inherit;

			display: flex;
			align-items: center;
			justify-content: space-between;

			&:last-child{
				border-bottom: 0;
			}
			&:hover{
				color: $color__yellow;
			}
			&--{
				&contrast{
					border-bottom-color: color(white a(.2));
				}
			}
		}
		&arrow{
			transition: ;
		}
		&link:hover &arrow{
			transform: translateX(.5rem);
			filter: hue-rotate(-90deg) brightness(130%);
		}
		&city-selected{
			font-size: 1.75rem;
			font-weight: 400;
		}
		&city &arrow{
			filter: brightness(0) invert(100%);
		}
		&section{
			font-size: 2.25rem;
			font-weight: 700;
		}
		&search,
		&back{
			width: 100%;
			padding: 0 1.5rem;
		}
		&back{
			font-size: 2.25rem;

			display: flex;
			align-items: center;

			&:hover{
				cursor: pointer;
			}

			&-{
				&arrow{
					margin-right: 1rem;
					transform: scale(.75) rotate(180deg);
					filter: grayscale(500%) brightness(75%);
				}
			}
		}
		&close{
			position: absolute 0;
		}
	}
}
