<div class="g-errors">
	<div class="g-errors__item g-errors__nojs">Для корркетного отображения сайта включите JavaScript!</div>
	<div class="g-errors__item g-errors__popup g-errors__old">
		Для корркетного отображения сайта обновите браузер:<br>
		<a href="https://google.com/chrome/" target="_blank" class="g-errors__browser">
            <span class="g-errors__logo g-errors__logo--chrome"></span>
            Chrome
        </a>
		<a href="https://mozilla.org/firefox/" target="_blank" class="g-errors__browser">
            <span class="g-errors__logo g-errors__logo--firefox"></span>
            Firefox
        </a>
	</div>
</div>