.button{
	width: 13.5rem;
	height: 3.8rem;

	text-decoration: none;

	background: $color__primary;
	color: white;

	transition: ;

	display: flex;
	align-items: center;
	justify-content: center;

	&:hover{
		background: color($color__primary l(+5%));
		cursor: pointer;
	}
}