.menu{
	padding: initial;
	margin: initial;
	
	// elements
	&__{
		&title{
			background: $color__gray_light;

			position: relative;

			&::after{
				content: '';
				position: absolute 100% * * 1.5rem;

				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-top: 8px solid $color__gray_light;
			}
		}
		&link{
			color: $color__gray_dark;
		}
		&numb{
			size: 2.25rem;
			margin-right: 1.5rem;

			font-size: 1.5rem;

			background: $color__gray_light;
			border-radius: 50%;

			display: flex;
			align-items: center;
			justify-content: center;
		}
		&text{
			flex: 1 0 auto;
		}
	}
}