<menu class="menu menu--main">
    <a class="nav__link nav__section" href="#">О компании</a>
    <div class="menu__section">
        <div class="nav__link nav__section menu__title">Каталог</div>
        <div class="nav__link menu__link">
            Хвойные
            <span class="i-arrow nav__arrow"></span>
        </div>
        <div class="nav__link menu__link">
            Лиственные
            <span class="i-arrow nav__arrow"></span>
        </div>
        <div class="nav__link menu__link">
            Плодовые
            <span class="i-arrow nav__arrow"></span>
        </div>
        <div class="nav__link menu__link">
            Розы
            <span class="i-arrow nav__arrow"></span>
        </div>
        <div class="nav__link menu__link">
            Многолетники
            <span class="i-arrow nav__arrow"></span>
        </div>
    </div>
</menu>
