<menu class="menu menu--submenu">
    <a class="nav__link nav__section" href="#">О компании</a>
    <div class="menu__section">
        <div class="nav__link nav__section menu__title">Розы</div>
        <a class="nav__link menu__link" href="#">
            <span class="menu__text">Чайно-гибридные розы</span>
            <span class="menu__numb">2</span>
            <span class="i-arrow nav__arrow"></span>
        </a>
        <a class="nav__link menu__link" href="#">
            <span class="menu__text">Флорибунда</span>
            <span class="menu__numb">4</span>
            <span class="i-arrow nav__arrow"></span>
        </a>
        <a class="nav__link menu__link" href="#">
            <span class="menu__text">Плетистые розы</span>
            <span class="menu__numb">8</span>
            <span class="i-arrow nav__arrow"></span>
        </a>
        <a class="nav__link menu__link" href="#">
            <span class="menu__text">Миниатюрные розы</span>
            <span class="menu__numb">1</span>
            <span class="i-arrow nav__arrow"></span>
        </a>
        <a class="nav__link menu__link" href="#">
            <span class="menu__text">Парковые розы</span>
            <span class="menu__numb">12</span>
            <span class="i-arrow nav__arrow"></span>
        </a>
        <a class="nav__link menu__link" href="#">
            <span class="menu__text">Парковые розы</span>
            <span class="menu__numb">12</span>
            <span class="i-arrow nav__arrow"></span>
        </a>
    </div>
</menu>