.stars{

	display: flex;
	align-items: center;
	
	// elements
	&__{
		&star{
			
			font-size: 1.5rem;
			line-height: 1;

			color: $color__gray_light;

			&--{
				&full{
					color: $color__yellow
				}
			}
			&::after{
				content: '★';
			}
		}
	}
}