<div class="stars">
    <span class="stars__star stars__star--full"></span>
    <span class="stars__star stars__star--full"></span>
    <span class="stars__star stars__star--full"></span>
    <span class="stars__star stars__star--full"></span>
    <span class="stars__star"></span>
</div>