<div class="cart">
    <div class="cart__product">
        <div class="cart__product-preview">
            <img src=":160x215" alt="">
        </div>
        <div class="cart__product-info">
            <div class="cart__product-inline">
                <div class="cart__product-box">
                    <div class="cart__product-name">Страна</div>
                    <div class="cart__product-value">Германия</div>
                </div>
            </div>
            <div class="cart__product-inline">
                <div class="cart__product-box">
                    <div class="cart__product-name">Высота</div>
                    <div class="cart__product-value">125-150</div>
                </div>
            </div>
            <div class="cart__product-inline">
                <div class="cart__product-box">
                    <div class="cart__product-name">Размер горшка</div>
                    <div class="cart__product-value">C 15 XXL</div>
                </div>
            </div>
            <div class="cart__product-inline">
                <div class="cart__product-box">
                    <div class="cart__product-name">Количество</div>
                    <div class="cart__product-value">
                        <input type="text" class="cart__product-input" placeholder="1">
                    </div>
                </div>
            </div>
            <div class="cart__product-inline">
                <div class="cart__product-box">
                    <div class="cart__product-name">Цена, руб</div>
                    <div class="cart__product-value">17 000р.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart__product">
        <div class="cart__product-preview">
            <img src=":160x215" alt="">
        </div>
        <div class="cart__product-info">
            <div class="cart__product-inline">
                <div class="cart__product-box">
                    <div class="cart__product-name">Страна</div>
                    <div class="cart__product-value">Германия</div>
                </div>
            </div>
            <div class="cart__product-inline">
                <div class="cart__product-box">
                    <div class="cart__product-name">Высота</div>
                    <div class="cart__product-value">125-150</div>
                </div>
            </div>
            <div class="cart__product-inline">
                <div class="cart__product-box">
                    <div class="cart__product-name">Размер горшка</div>
                    <div class="cart__product-value">C 15 XXL</div>
                </div>
            </div>
            <div class="cart__product-inline">
                <div class="cart__product-box">
                    <div class="cart__product-name">Количество</div>
                    <div class="cart__product-value">
                        <input type="text" class="cart__product-input" placeholder="1">
                    </div>
                </div>
            </div>
            <div class="cart__product-inline">
                <div class="cart__product-box">
                    <div class="cart__product-name">Цена, руб</div>
                    <div class="cart__product-value">17 000р.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart__price">
        <div class="cart__price-title">Общая стоимость:</div>
        <div class="cart__price-main">34 000 руб.</div>
        <div class="cart__price-old">40 000 руб.</div>
    </div>
    <div class="cart__order">
        <a class="btn" href="#">
            <span>Оформить заказ</span>
            <span class="btn__arrow i-arrow"></span>
        </a>
    </div>
</div>