.cart{
	
	// elements
	&__{
		&product{
			display: flex;

			margin: 1.875rem 0;
			&-{
				&preview{
					width: 160px;
					min-width: 160px;

					margin-right: 2rem;
				}
				&info{
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					width: 100%;

					margin-top: -0.5rem;
				}
				&inline{
					position: relative;

					display: flex;
					justify-content: space-between;

					&:after{
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						
						width: 100%;
						height: 2px;

						background-color: $color__gray_light;
					}
				}
				&box{
					display: flex;
					justify-content: space-between;

					width: 100%;
				}
				&name{
					z-index: 2;
					position: relative;

					padding-right: 1rem;

					background-color: $color__white;
				}
				&value{
					z-index: 2;
					position: relative;

					padding-left: 1rem;

					color: $color__gray_dark;

					background-color: $color__white;
				}
				&input{
					box-sizing: border-box;

					width: 115px;
					height: 2rem;

					text-align: center;

					border: 1px solid $color__gray_light;

					font-family: $font__family_primary;
					font-size: 1.5rem;
				}
			}
		}
		&price{
			padding: 1rem 1.25rem;

			text-align: right;

			border-top: 1px solid $color__gray_light;
			border-bottom: 1px solid $color__gray_light;

			&-{
				&main{
					font-size: 2.25rem;
					font-weight: 700;

					color: $color__primary;
				}
				&old{
					color: $color__gray_light;
					text-decoration: line-through;
				}
			}
		}
		&order{
			padding: 2rem *;

			display: flex;
			justify-content: center;
		}
	}
}