.shops{
	
	// elements
	&__{
		&head{
			display: flex;
			justify-content: space-between;
			align-items: center;

			margin: 2rem 0;
		}
		&have{
			color: $color__primary;
			&--{
				&not{
					color: $color__gray_light;
				}
			}
		}
		&name{
			font-size: 2.25rem;
			color: $color__gray_dark;
		}
		&list{
			font-size: 2.25rem;
			color: $color__gray_light;
		}
		&list{
			&-item{
				&:not(:last-child){
					border-bottom: 1px solid $color__gray_light;

					padding-bottom: 1rem;
					margin-bottom: 1rem;
				}
			}
		}
	}
}