<div class="shops">
    <div class="shops__item">
        <div class="shops__head">
            <div class="shops__name">ТК “Экстрим”</div>
            <div class="shops__have">Есть в наличии</div>
        </div>
        <div class="shops__list">
            <div class="shops__list-item">
                Германия 160 - 180см С15 <br>
                17 500 руб.
            </div>
            <div class="shops__list-item">
                Германия 160 - 180см С15 <br>
                17 500 руб.
            </div>
        </div>
    </div>
    <div class="shops__item">
        <div class="shops__head">
            <div class="shops__name">Процветание</div>
            <div class="shops__have shops__have--not">Нет в наличии</div>
        </div>
    </div>
</div>