[class^='i-'],
[class*=' i-']{
	display: inline-flex;
}
[class^='i-']::before,
[class*=' i-']::before{
	content: '';
	margin: auto;
	background-image: url(assets/img/icons.png);
}
.i-100::before {
	width: 74px;
	height: 74px;
	background-position: 0px 0px;
}
.i-arrow-breadcrumb::before {
	width: 14px;
	height: 20px;
	background-position: -158px -129px;
}
.i-arrow-filter::before {
	width: 20px;
	height: 14px;
	background-position: -196px -129px;
}
.i-arrow-pag::before {
	width: 14px;
	height: 20px;
	background-position: -177px -129px;
}
.i-arrow::before {
	width: 19px;
	height: 27px;
	background-position: -129px -158px;
}
.i-call::before {
	width: 74px;
	height: 74px;
	background-position: 0px -79px;
}
.i-cart::before {
	width: 47px;
	height: 45px;
	background-position: 0px -158px;
}
.i-delivery::before {
	width: 74px;
	height: 74px;
	background-position: -79px -79px;
}
.i-logo::before {
	width: 64px;
	height: 74px;
	background-position: -158px 0px;
}
.i-menu::before {
	width: 48px;
	height: 45px;
	background-position: -158px -79px;
}
.i-nursery::before {
	width: 74px;
	height: 74px;
	background-position: -79px 0px;
}
.i-phone::before {
	width: 35px;
	height: 43px;
	background-position: -52px -158px;
}
.i-search::before {
	width: 32px;
	height: 33px;
	background-position: -92px -158px;
}
