[class^='i-'],
[class*=' i-']{
	display: inline-flex;
}
[class^='i-']::before,
[class*=' i-']::before{
	content: '';
	margin: auto;
	background-image: url(assets/img/{{spritesheet.image}});
}
{{#sprites}}
.{{name}}::before {
	width: {{px.width}};
	height: {{px.height}};
	background-position: {{px.offset_x}} {{px.offset_y}};
}
{{/sprites}}