.btn{
	padding: .5rem 2rem;
	border: 2px solid currentColor;

	font-size: 2.25rem;

	text-decoration: none;

	border-radius: 3rem;
	color: $color__primary;

	display: flex;

	// mods
	&:hover{
		cursor: ;
	}
	&:hover &__arrow{

		&:first-child{
			transform: rotate(180deg) translateX(.5rem);
		}
		&:last-child{
			transform: translateX(.5rem);
		}
	}
	&--gray{
		border: none;

		color: gray(70%);
	}
	&--gray &__arrow{
		filter: grayscale(100%) brightness(130%);
	}

	// elements
	&__{
		&arrow{

			transition: ;

			&:first-child{
				margin-right: 1rem;
				transform: rotate(180deg);
			}
			&:last-child{
				margin-left: 1rem;
			}
		}
	}
}