<div class="accordion section">
    <div class="accordion__set">
        <div class="accordion__title" onclick="this.classList.toggle('is-active')">
            Описание
            <span class="accordion__arrow">
                <span class="i-arrow"></span>
            </span>
        </div>
        <div class="accordion__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut temp pellentesque lacus sit amet tincidunt. Vivamus congue luctus lectus, ut tempor dui gravida et. </p>
        </div>
    </div>
    <div class="accordion__set">
        <div class="accordion__title" onclick="this.classList.toggle('is-active')">
            Свойства
            <span class="accordion__arrow">
                <span class="i-arrow"></span>
            </span>
        </div>
        <div class="accordion__content">
            <dl>
                <dt>Хвоя:</dt>
                <dd>Хвоя темно-зеленая с двумя светлыми полосками с нижней стороны.</dd>
                <dt>Название латынь:</dt>
                <dd>Picea omorica "Pendula Bruns"</dd>
                <dt>Род:</dt>
                <dd>Ель</dd>
            </dl>
        </div>
    </div>
    <div class="accordion__set">
        <div class="accordion__title" onclick="this.classList.toggle('is-active')">
            Отзывы
            <span class="accordion__arrow">
                <span class="i-arrow"></span>
            </span>
        </div>
        <div class="accordion__content">
            <import src="comment"></import>
        </div>
    </div>
    <div class="accordion__set">
        <div class="accordion__title" onclick="this.classList.toggle('is-active')">
            Наличие в магазинах
            <span class="accordion__arrow">
                <span class="i-arrow"></span>
            </span>
        </div>
        <div class="accordion__content">
            <import src="shops"></import>
        </div>
    </div>
</div>