.accordion{
	
	// elements
	p,
	dl{
		font-size: 2.25rem;
	}
	p{
		margin: 0 0 1em;

		color: color($color__gray_dark a(.5));
	}
	dt,
	dd{
		padding: 40px 0 0;
	}
	dt{
		float: left;

		box-sizing: border-box;
		max-width: 200px;
		padding-right: 1rem;

		color: $color__gray_dark;
	}
	dd{
		margin: 0 0 0 200px;

		color: color($color__gray_dark a(.5));

		&:not(:last-child)::after{
			content: '';
			display: block;
			border-bottom: 1px solid $color__gray_light;
			margin: 40px 0 0 -200px;
		}
	}
	&__{
		&set{
			padding: * $gutter;

			&:not(:last-child){
				border-bottom: 1px solid $color__gray_light;
			}
		}
		&title{
			padding: 2.25rem *;

			font-size: 2.25rem;

			cursor: pointer;

			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&arrow{
			transition: ;
		}
		&title.is-active + &content{
			display: block;
		}
		&title.is-active &arrow{
			transform: rotate(90deg);
		}
		&title:not(.is-active) &arrow{
			filter: grayscale(100%);
		}
		&content{
			display: none;
		}
	}
}