.footer{

	background: $color__dark;
	color: white;
	
	// elements
	&__{
		&link{
			display: block;
			padding: 1.75rem 1.5rem;
			border-bottom: 1px solid color(white a(.1));

			font-size: 2.25rem;

			text-decoration: none;

			color: inherit;

			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&contact{
			font-size: 2rem;
			font-weight: 700;

			color: $color__link;

			&:hover{
				text-decoration: none;
			}

			&s{
				padding: 2.25rem 0;
					
				display: flex;
				justify-content: space-around;
			}
		}
		&social{
			margin-top: 1.75rem;
		}
	}
}