<footer class="footer">
    <a href="#" class="footer__link">Главная</a>
    <a href="#" class="footer__link">О компании</a>
    <a href="#" class="footer__link">Ландшафтный дизайн</a>
    <a href="#" class="footer__link">Новости</a>
    <a href="#" class="footer__link">Скидки</a>
    <a href="#" class="footer__link">Оптовикам</a>
    <a href="#" class="footer__link">Доставка и оплата</a>
    <a href="#" class="footer__link">Перейти на основной сайт</a>
    <div class="footer__link">
        Мы в соц. сетях
        <import src="social" class=" footer__social"></import>
    </div>
    <div class="footer__contacts">
        <a href="#" class="footer__contact">Санкт-Петербург</a>
        <a href="tel:8(495)374-59-62" class="footer__contact">8 (495) 374-59-62</a>
    </div>
</footer>