.g-page{
	margin: 0 auto;

	font-size: $font__size;
	font-family: $font__family_primary;

	background: $color__gray_light;

	overflow-x: hidden;

	// mods
	&._nav &__content{
		transform: translateX($nav__width);
	}

	// elements
	&__{
		&content{
			transition: ;
		}
	}
}
body{
	margin: 0;
	overflow-x: hidden;
}
