.logo{

	color: $color__primary;

	display: flex;
	align-items: center;
	
	// elements
	&__{
		&icon{
			margin-right: 10px;
		}
		&name{
			font-size: 1.563rem;
			font-weight: 900;
		}
		&subname{
			font-size: 1.25rem;
		}
	}
}