<div class="logo">
    <div class="logo__icon i-logo"></div>
    <div class="logo__info">
        <div class="logo__name">ПРОЦВЕТАНИЕ</div>
        <div class="logo__subname">САДОВЫЕ РАСТЕНИЯ</div>
    </div>
</div>