.product{
	padding: 2rem 0 0;
	// elements
	&__{
		&name{
			font-size: 2.25rem;
		}
		&subname{
			color: $color__gray_light;
		}
		&carousel{
			margin-top: 2rem;
		}
		&sizetable{
			&-{
				&inline{
					display: flex;
					justify-content: space-between;
					align-items: center;

					margin-top: 2rem;
				}
				&box{
					padding: 1.5rem 0;

					&:not(:last-child){
						border-bottom: 1px solid $color__gray_light;
					}
				}
				&head{
					font-size: 2.25rem;

					color: $color__gray_light;
				}
				&value{
					font-size: 2.25rem;

					color: $color__gray_dark;
				}
				&price{
					font-size: 2.25rem;

					color: $color__gray_light;
				}
				&buy{
					width: 190px;
					line-height: 66px;

					text-align: center;
					font-weight: 700;
					text-decoration: none;

					color: $color__white;

					background-color: $color__primary;
				}
			}
		}
	}
}