<div class="section product">
    <div class="section__content">
        <div class="product__name">Ель колючая Glauca Globosa</div>
        <div class="product__subname">Picea pungens "Glauca Globosa"</div>
        <div class="product__carousel">
            <import src="gallery"></import>
        </div>
        <div class="product__sizetable">
            <div class="product__sizetable-inline">
                <div class="product__sizetable-head">Страна</div>
                <div class="product__sizetable-head">Высота</div>
                <div class="product__sizetable-head">Рамзер </div>
            </div>
            <div class="product__sizetable-box">
                <div class="product__sizetable-inline">
                    <div class="product__sizetable-value">Германия</div>
                    <div class="product__sizetable-value">160 - 180см</div>
                    <div class="product__sizetable-value">С15</div>
                </div>
                <div class="product__sizetable-inline">
                    <div class="product__sizetable-price">17 500 руб.</div>
                    <a href="#" class="product__sizetable-buy">Купить</a>
                </div>
            </div>
            <div class="product__sizetable-box">
                <div class="product__sizetable-inline">
                    <div class="product__sizetable-value">Германия</div>
                    <div class="product__sizetable-value">160 - 180см</div>
                    <div class="product__sizetable-value">С15</div>
                </div>
                <div class="product__sizetable-inline">
                    <div class="product__sizetable-price">17 500 руб.</div>
                    <a href="#" class="product__sizetable-buy">Купить</a>
                </div>
            </div>
            <div class="product__sizetable-box">
                <div class="product__sizetable-inline">
                    <div class="product__sizetable-value">Германия</div>
                    <div class="product__sizetable-value">160 - 180см</div>
                    <div class="product__sizetable-value">С15</div>
                </div>
                <div class="product__sizetable-inline">
                    <div class="product__sizetable-price">17 500 руб.</div>
                    <a href="#" class="product__sizetable-buy">Купить</a>
                </div>
            </div>
        </div>
    </div>
</div>