<div class="header">
    <a href="#nav" class="header__menu">
        <div class="i-menu"></div>
    </a>
    <div class="header__logo">
        <import src="logo"></import>
    </div>
    <div class="header__actions">
        <a href="tel:+76546846" class="header__action header__phone"><span class="i-phone"></span></a>
        <a href="#" class="header__action header__cart">
            <span class="i-cart"></span>
            <span class="header__cart-numb">2</span>
        </a>
    </div>
</div>
