.header{
	position: relative;
	z-index: 100;
	
	min-height: $header;
	padding-right: 20px;

	box-shadow: 0 .125rem 1rem gray(0, .6);
	background: white;
	
	display: flex;
	align-items: center;
	justify-content: space-between;

	// elements
	&__{
		&menu{
			align-self: stretch;
			size: 118px;
			padding: 0 35px;

			background: white;

			display: flex;
			align-items: center;

			cursor: pointer;
		}
		&action{
			padding: 0 10px;

			&s{
				display: flex;
			}
		}
		&cart{
			position: relative;

			&-{
				&numb{
					position: absolute 0 0 * *;
					transform: translate(10%, -40%);

					size: 2rem;

					text-align: center;
					
					border-radius: 50%;
					background: $color__primary;
					color: white;
				}
			}
		}
	}
}