// direct
$color__white: #fff;
$color__black: #000;
$color__green: #53b97e;
$color__gray_dark: #5a5a5a;
$color__gray_light: #dedede;
$color__blue: #4678c3;
$color__yellow: #ffa800;
$color__red: #ff6969;

// abstract
$color__primary: $color__green;
$color__error: $color__red;
$color__dark: #373737;
$color__link: $color__blue;

// font
$color__font_primary: $color__black;