<div class="intro">
    <div class="intro__slide" repeat="['a56', '456', '84a']">
        <img class="intro__image" src=":640x485/${value}" alt="">
        <div class="intro__content">
            <div class="intro__title">TEXT HERE</div>
            <div class="intro__subtitle">Text here.</div>
            <a class="intro__more button" href="#">ПОДРОБНЕЕ</a>
        </div>
    </div>
</div>