.intro{
	
	line-height: 1;

	background: white;
	color: white;

	// elements
	.flickity-page-dots{
		list-style: none;

		position: static;

		padding: 2rem 0;
		margin: 0;

		display: flex;
		justify-content: center;
	}
	.flickity-viewport{
		height: 485px;
	}
	.dot{
		size: 1.5rem;
		margin: 0 1.5rem;

		background: $color__gray_light;

		transition: ;

		&:hover{
			cursor: pointer;
		}
		&.is-selected{
			background: $color__primary;
		}
	}
	&__{
		&slide{
			position: relative;
			width: 100%;
			height: 100%;
		}
		&image{
			display: block;
			size: 100%;

			object-fit: cover;
		}
		&content{
			position: absolute 0;
			
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		&title,
		&subtitle{
			margin: 0 0 3rem;
		}
		&title{
			font-size: 3.75rem;
			font-weight: 700;
		}
		&subtitle{
			font-size: 2.25rem;
		}
	}
}