<div class="slider">
    <div class="slider__bar"></div>
    <div class="slider__values">
        <div class="slider__value">
            от
            <input type="number" class="slider__input slider__input--min" step="10" min="0" value="50">
            <!-- Attr `min` and `value` are required for init slider -->
        </div>
        <div class="slider__value">
            до
            <input type="number" class="slider__input slider__input--max" step="10" max="1000" value="800">
            <!-- Attr `max` and `value` are required for init slider -->
        </div>
    </div>
</div>