.slider{

	color: $color__gray_light;

	// elements
	.noUi-{
		&target,
		&origin,
		&background{
			background: currentColor;
		}
		&horizontal{
			height: 0.875rem;
		}
		&base{
			width: 100%;
			height: 100%;
			position: relative;
		}
		&origin{
			position: absolute 0;

			&:first-child{
				background: $color__primary;
			}
		}
		&connect{
			background: $color__primary;
		}
		&handle{
			position: absolute 50% * * 0;
			transform: translate(-50%, -50%);

			size: 3rem;
			border: 2px solid $color__primary;

			border-radius: ;
			background: white;
		}
	}
	&__{
		&values{
			margin: 2rem * *;

			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&value{
			display: flex;
			align-items: center;
		}
		&input{
			all: initial;

			box-sizing: border-box;
			size: 8.75rem 2.5rem;
			padding: 0 1rem;
			border: 1px solid $color__gray_light;
			margin: * * * 1rem;

			font-family: inherit;
			font-size: 2.25rem;

			text-align: center;

			color: gray(50%);
		}
	}
}
