<div class="benefit" repeat="[{
        'icon': 'delivery',
        'title': '100% гарантия <br>качества'
    },{
        'icon': 'nursery',
        'title': 'Круглосуточный <br>колл- центр (24/7)'
    },{
        'icon': 'call',
        'title': 'Собственный питомник <br>растений'
    },{
        'icon': '100',
        'title': 'Доставка по всей <br>России'
    }]">
    <div class="benefit__icon">
        <div class="i-${value.icon}"></div>
    </div>
    <div class="benefit__title">${value.title}</div>
</div>