<a class="card" href="#">
    <img class="card__preview" src=":125x170" alt="">
    <div class="card__info">
        <div class="card__title">Andorra Compacta</div>
        <div class="card__desc">Можжевельник горизонтальный</div>
        <div class="card__price">
            <span class="card__price-value"> 4 500 - 21 200</span>
             руб
        </div>
    </div>
    <div class="card__more"><div class="i-arrow"></div></div>
</a>