.card{

	padding: 2rem 1rem;

	text-decoration: none;

	color: inherit;
	
	display: flex;
	justify-content: space-between;

	// mods
	&:not(:last-child, :last-of-type){
		border-bottom: 1px solid gray(90%);
	}
	&:hover &__more{
		transform: translateX(.5rem);
	}

	// elements
	&__{
		&preview{
			margin: * 1.25rem * *;
		}
		&info{
			flex: 1;
		}
		&title{
			font-size: 2.25rem;
		}
		&price{
			margin: 1.5rem * *;

			font-size: 2.25rem;

			&-value{
				font-weight: 700;
			}
		}
		&more{
			transition: ;
			
			display: flex;
			align-items: center;
		}
	}
}