<div class="review">
    <header class="review__head">
        <span class="review__name">Сергиенко Василий</span>
        <span class="review__counter">(10 отзывов)</span>
        <span class="review__stars">
            <import src="stars"></import>
        </span>
    </header>
    <dl class="review__content">
        <dt class="review__termin">Достоинства</dt>
        <dd class="review__def">Доставили заказ в обещанные сроки, качество соответствует. Курьер в состоянии грамотно ответить на вопросы, коммуникабелен и точен.</dd>
        <br><br>
        <dt class="review__termin">Недостатки</dt>
        <dd class="review__def">Не обнаружено</dd>
        <br><br>
        <dt class="review__termin">Комментарий</dt>
        <dd class="review__def">Что писать дополнительно? Третий заказ за 3 месяца (для одной семьи) на мой взгляд - это показатель доверия нтернет-магазину.</dd>
    </dl>
    <footer class="review__foot">
        <time>6 ноября</time>, Москва
    </footer>
</div>