.review{

	margin: 2rem 1rem;

	// elements
	&__{
		&head,
		&foot{
			display: flex;
			align-items: center;
		}
		&counter,
		&foot{
			color: gray(70%);
		}
		&head{
			justify-content: space-between;
		}
		&name{
			font-weight: 700;
		}
		&termin{
			display: inline;

			font-weight: 700;

			&::after{
				content: ':';
			}
		}
		&def{
			display: inline;

			margin: initial;
		}
	}
}