.checkbox{

	color: $color__primary;
	
	// elements
	&__{
		&input{
			position: absolute * * * -999999px;
		}
		&dot{
			box-sizing: border-box;
			size: 3.5rem;
			border: 2px solid currentColor;

			border-radius: ;

			transition: ;

			// mods
			&:hover{
				transform: rotateY(180deg);
				cursor: pointer;
			}
		}
		&input:checked + &dot{
			box-shadow: inset 0 0 0 5px white;
			background: currentColor;
		}
	}
}