.gallery{
	
	// elements
	&__{
		&image{
			width: 100%;
			height: auto;
		}
		&previews{
			display: flex;
			justify-content: space-between;

			margin-top: 1rem;
		}
		&preview{
			&:not(._active){
				opacity: 0.4;
				cursor: pointer;
			}
		}
	}
}