<div class="gallery">
    <img class="gallery__image" src=":600x860" alt="">
    <div class="gallery__previews">
        <img class="gallery__preview" src=":140x140/${value}" data-image="http://placehold.alanev.ru/600x860/${value}" alt="" repeat="['135','af3','894','262']">
    </div>
</div>