.comment{
	font-size: 2.25rem;
	
	// elements
	&__{
		&header{

			color: $color__gray_dark;

			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&text{
			color: color($color__gray_dark a(.5));
		}
	}
}