<div class="comment">
    <div class="comment__header">
        <div class="comment__author">Сергиенко Василий </div>
        <div class="comment__stars">
            <import src="stars"></import>
        </div>
    </div>
    <div class="comment__text">
        <p>Lorem ipsum dolor sit amet, conseg elit. Ut tempor pellentesque lacus sit amet tincidunt.Vivamus congue luctu lectus, ut tempor dui gravida et.</p>
    </div>
</div>