<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=640, user-scalable=no">

	<title>ПРОЦВЕТАНИЕ | САДОВЫЕ РАСТЕНИЯ</title>
	<link rel="stylesheet" href="styles.css">
	<!--<link rel="shortcut icon" href="img/favicon.png">-->
	<import src="modules/g-errors/g-errors_head.htm"></import>

	<script src="async.app.js" async></script>
	<script src="defer.app.js" defer></script>
</head>
