<div class="order">
    <header class="order__head">
        <span class="order__active">1</span> / 4
    </header>
    <div class="order__content">
        <div class="order__choise">
            <div class="order__label">
                <import src="checkbox" class=" order__checkbox"></import>
                Доставка
            </div>
            <div class="order__label">
                <import src="checkbox" class=" order__checkbox"></import>
                Самовывоз
            </div>
        </div>
        <input type="text" class="order__field" placeholder="Ф.И.О.">
        <input type="email" class="order__field" placeholder="E-mail">
        <input type="tel" class="order__field" placeholder="Телефон">
        <input type="date" class="order__field" placeholder="Дата">
        <input type="time" class="order__field" placeholder="Время">
        <div class="order__label">
            <import src="checkbox" class=" order__checkbox"></import>
            Оплата наличными курьеру
        </div>
        <div class="order__list">
            <div class="order__list-item">
                <div class="order__list-title is-good">Магазин “Процветание”</div>
                <div class="order__list-note">Самовывоз возможен с 15.04.16 до 20.04.16</div>
            </div>
            <div class="order__list-item">
                <div class="order__list-title is-bad">ТРК “Галерея”</div>
                <div class="order__list-note">Будет в наличии с 13.04.16</div>
            </div>
        </div>
        <div class="order__label order__note">
            <import src="checkbox" class=" order__checkbox"></import>
            Я согласен с условиями передачи данных
        </div>
    </div>
</div>