.order{

	padding: 2rem *;

	font-size: 2.25rem;

	color: gray(30%);
	
	// elements
	&__{
		&head{
			font-size: 1.75rem;
			
			text-align: center;

			color: gray(50%);
		}
		&active{
			color: $color__primary;
		}
		&choise{
			display: flex;
			justify-content: space-between;
		}
		&field{
			display: block;

			box-sizing: border-box;
			width: 100%;
			padding: 1.25rem 2rem;
			border: 1px solid $color__gray_light;
			margin: 1.5rem *;

			font-family: inherit;
			font-size: inherit;
			line-height: 1;

			border-radius: 1.875rem;
		}
		&label{
			margin: 2rem *;

			display: flex;
			align-items: center;
		}
		&checkbox{
			margin-right: 1rem;
		}
		&note{
			font-size: 1.5rem;
		}
		&list{

			&-{
				&item{
					margin: 2rem *;
				}
				&title{
					margin: * * 1.25rem;

					display: flex;
					align-items: center;

					&::before{
						content: '';

						size: 0.875rem;
						margin: * 1rem * *;

						border-radius: ;

						background-color: $color__gray_light;
					}
					&.is-good::before{
						background-color: $color__primary;
					}
					&.is-bad::before{
						background-color: $color__error;
					}
				}
				&note{
					font-size: 1.5rem;
					
					color: gray(80%);
				}
			}
		}
	}
}