.catalog{
	
	// elements
	&__{
		&link{
			padding: 2rem 1rem;
			border-bottom: 1px solid gray(90%);

			font-size: 2.25rem;
			line-height: 1;

			text-decoration: none;

			color: inherit;
			
			display: flex;
			justify-content: space-between;

		}
		&arrow{
			transition: ;
		}
		&link:hover &arrow{
			transform: translateX(-1rem);
		}
	}
}