<div class="catalog">
    <a href="#" class="catalog__link">
        Хвойные
        <div class="catalog__arrow i-arrow"></div>
    </a>
    <a href="#" class="catalog__link">
        Лиственные
        <div class="catalog__arrow i-arrow"></div>
    </a>
    <a href="#" class="catalog__link">
        Плодовые
        <div class="catalog__arrow i-arrow"></div>
    </a>
    <a href="#" class="catalog__link">
        Розы
        <div class="catalog__arrow i-arrow"></div>
    </a>
    <a href="#" class="catalog__link">
        Многолетники
        <div class="catalog__arrow i-arrow"></div>
    </a>
</div>




