.section{
	padding: 0 .5rem;

	background: white;

	overflow: hidden;

	// mods
	&:not(:last-child, :last-of-type){
		margin: 1.75rem 0;
	}

	// elements
	&__{
		&title{
			padding: 1.5rem $gutter;
			border-bottom: 1px solid $color__gray_light;
			margin: initial;

			font-size: 2.5rem;
			font-weight: initial;

			text-align: center;
		}
		&footer{
			padding: 1rem $gutter;
			border-top: 1px solid $color__gray_light;

			display: flex;
			justify-content: space-between;

			> :only-child{
				margin: auto
			}
		}
		&content{
			padding: 0 $gutter;
		}
		&more{
			display: block;
			margin: * * 3rem;

			font-size: 2.25rem;

			text-align: center;

			color: $color__link;

			&:hover{
				text-decoration: none;
			}
		}
	}
}
