.breadcrumb{

	padding: 2.5rem $gutter;

	font-size: 2.25rem;
	line-height: 0;

	text-decoration: none;

	color: gray(30%);

	display: flex;
	align-items: center;

	// mods
	&:hover &__arrow{
		transform: translateX(-.5rem);
	}
	
	// elements
	&__{
		&arrow{
			margin: * 1.25rem * *;

			transition: ;
		}
	}
}