.search{

	display: flex;
	justify-content: space-between;
	
	// elements
	&__{
		&input,
		&icon{
			all: initial;
			font-family: inherit;
		}
		&input{
			width: calc(100% - 50px);
			font-size: 2.25rem;
		}
	}
}