.filter{

	// elements
	&__{
		&head{

			cursor: pointer;

			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&head:not(.is-open) + &content{
			display: none;
		}
		&head.is-open &close::before{
			content: 'Закрыть';
		}
		&head:not(.is-open) &close::before{
			content: 'Открыть';
		}
		&head:not(.is-open) &close-arrow{
			transform: rotate(180deg);
		}
		&close{
			font-size: 1.75rem;

			color: gray(80%);

		}
		&set{
			padding: 2rem 1rem;

			&:not(:last-child){
				border-bottom: 1px solid gray(90%);
			}
		}
		&title,
		&label{
			font-size: 2.25rem;

			display: flex;
			justify-content: space-between;

			&:not(:last-child){
				margin: * * 3rem;
			}
		}
		&title{
			font-weight: 700;
		}
		&label{
			color: gray(50%);
		}
		&color{
			margin-top: 3rem;
			margin-left: 4.5rem;

			.checkbox__dot{
				background: currentColor;
			}

			// wrapper
			&s{
				margin-top: -3rem;
				margin-left: -4.5rem;

				display: flex;
				flex-wrap: wrap;
			}
		}
		&toggle&title{
			margin-bottom: initial;
		}
		&toggle{

			cursor: pointer;

			&-arrow,
			&-content{
				transition: ;
			}
			&-arrow{
				transform: rotate(90deg);
			}
			&-content{
				max-height: 0;
				overflow: hidden;
			}
			&.is-active &-arrow{
				transform: rotate(270deg);
			}
			&.is-active + &-content{
				max-height: 100vh;
			}
		}
		&action{
			all: initial;
			min-height: 7.25rem;

			font-family: inherit;
			font-size: 2.25rem;

			text-align: center;

			cursor: pointer;

			&s{
				margin: 0 -.5rem;

				display: flex;
			}
		}
		&submit{
			flex: 5;

			background: $color__primary;
			color: white;
		}
		&reset{
			flex: 4;

			color: gray(80%);
		}
	}
}
