<section class="filter section">
    <header class="filter__head section__title is-open" onclick="this.classList.toggle('is-open')">
        Фильтры
        <span class="filter__close">
            <span class="filter__close-arrow i-arrow-filter"></span>
        </span>
    </header>
    <form class="filter__content">
        <div class="filter__set">
            <div class="filter__title">Цена</div>
            <import src="slider" class=" filter__slider"></import>
        </div>
        <div class="filter__set">
            <div class="filter__title">Цвет</div>
            <div class="filter__colors">
                <import src="checkbox" class=" filter__color" style="color:#${value}" repeat="['148','748','48a','c18','135','318','ca5']"></import>
                <!-- It is necessary to use `color` attr (!not background) -->
            </div>
        </div>
        <div class="filter__set">
            <div class="filter__title">
                В наличии
                <import src="checkbox"></import>
            </div>
        </div>
        <div class="filter__set">
            <div class="filter__title">Наличие в магазинах</div>
            <div class="filter__label" repeat="2">
                Магазин “Название”
                <import src="checkbox"></import>
            </div>
        </div>
        <div class="filter__set">
            <div class="filter__title">
                С отзывами
                <import src="checkbox"></import>
            </div>
        </div>
        <div class="filter__set">
            <div class="filter__title filter__toggle" onclick="this.classList.toggle('is-active')">
                Все характеристики
                <div class="filter__toggle-arrow">
                    <div class="i-arrow"></div>
                </div>
            </div>
            <div class="filter__toggle-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid tempore veritatis asperiores eligendi eveniet officia deserunt eaque maiores consectetur totam quo fuga voluptates, sequi accusantium voluptas quaerat neque assumenda incidunt!
            </div>
        </div>
        <div class="filter__actions">
            <button class="filter__action filter__submit">Показать</button>
            <button class="filter__action filter__reset" type="reset">Сбросить</button>
        </div>
    </form>
</section>