<div class="pagination">
    <a href="#" class="pagination__link pagination__prev">
        <span class="pagination__arrow i-arrow-pag"></span>
        Назад
    </a>
    <a href="#" class="pagination__link">1</a>
    <a href="#" class="pagination__link">2</a>
    <a href="#" class="pagination__link">3</a>
    <a href="#" class="pagination__link">4</a>
    <a href="#" class="pagination__link pagination__next">
        Далее
        <span class="pagination__arrow i-arrow-pag"></span>
    </a>
</div>