.pagination{

	padding: 1rem 1rem 2.5rem;

	font-size: 2.25rem;
	
	color: $color__link;

	display: flex;
	align-items: center;
	justify-content: space-between;
	
	// elements
	&__{
		&link{
			text-decoration: none;

			color: inherit;
		}
		&next &arrow{
			transform: rotate(180deg);
		}
	}
}